.inner-content {
  background: #fff;
  padding: 8px 32px;
}

.inner-box {
  padding: 8px 0;
}

.header {
  padding: 12px 32px;
}


.spinner {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
